.titlerect{
    position: absolute;

height: 6rem;
top: 24px;
left:10%;
right: 10%;
min-width: 10rem;
background:  #D9D9D9;

}
.title{
    position: absolute;
    height: 5rem;
    left: 10%;
    right: 10%;
    top:22%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size:3rem;
    line-height: 58px;
    
    /* identical to box height */
    
    text-align:center;
    
    color: #000000;

}
.QrCode{
    position: absolute;
    width:30vw;
   min-width: 10rem;
    height:40vh;
   
    left: 10%;
    top: 32%;
    float:left;
    background: #D9D9D9; 
}
.howToJoin{
    position: absolute;
width: 20rem;
height: 7rem;
left:55%;
top: 25%;

float:right;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
.stepsToJoin{
    position: absolute;
width: 30%;
height: 20rem;
left: 55%;
top: 39%;
font-weight: 400;
font-size: 150%;
font-stretch: condensed;
font-style: normal;
}
.courseBorder{
position:fixed;
width: 80%;
height: 25%;
left:40%;
right:10%;
top:80%;
float:left;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 200%;

display:inline-flex;
align-items: center;
text-align: center;

color: #000000;
}